<nav class="navbar navbar-expand-lg bg-warning border-bottom border-dark"> <!--Navbar Start-->
    <div class="container py-2">
        <a class="navbar-brand" href="#"><i class="fa-brands fa-medium fa-2xl"></i> Medium Clone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="#">Our Story</a>
                <a class="nav-link" href="#">Membership</a>
                <a class="nav-link" href="#">Write</a>
                <a class="nav-link" href="#">Sign In</a>
                <button class="btn btn-dark btn-sm rounded-pill px-3 ms-3"><a class="nav-link text-light">Get
                        Started</a></button>
            </div>
        </div>
    </div>
</nav> <!--Navbar End-->